.login-copy,
.register-copy {
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-copy a,
.register-copy a {
  color:#e0e0e0;
}
body{
	margin:0;
	padding:0;
    background: #2980b9 url('../img/photo1.jpg') repeat 0 0;
	-webkit-animation: 450s linear 0s normal none infinite animate;
	-moz-animation: 450s linear 0s normal none infinite animate;
	-ms-animation: 450s linear 0s normal none infinite animate;
	-o-animation: 450s linear 0s normal none infinite animate;
	animation: 450s linear 0s normal none infinite animate;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 3740px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 3740px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 3740px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 3740px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 3740px 0;}
}

.fondo-login{
  background: url(../img/photo1.jpg); 
  background-size: 100% 100%;
}
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color:#fff;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.currency-box{
  background-color: #fff;
  width:500px;
  height: 500px;
  margin: 33.33% 0 0 33.33%;
}